* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* this is Navbar style start */

.navbar {
  background-color: #0f9c47;
  display: flex;
  padding: 3rem;
  padding-left: 10rem;
}
.navbar-brand {
  color: #fff !important;
}
.container-fluid {
  display: flex;
  gap: 10rem;
  height: 2.7rem;
  padding: 0rem 5rem !important;
}
.nav-link {
  color: #fff !important;
}
.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-block {
  display: flex !important;
  align-items: center !important;
  width: 100%;
}
.menu-2 {
  display: flex !important;
  align-items: center !important;
  color: red !important;
}
.avatar {
  padding-top: 1rem;
}
.dropdown-menu {
  left: -16rem !important;
  top: 1rem !important;
}
.btn {
  color: #0f9c47 !important;
  border: none !important;
}
.btn-2 {
  color: red !important;
}

@media screen and (max-width: 1000px) {
  .header {
    overflow: visible;
  }
  .container-fluid {
    gap: 0;
    height: inherit;
    padding: 0rem 1.5rem !important;
  }
  .avatar {
    padding-top: 0.5rem;
  }
  .menu {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    align-items: flex-start;
    border-top: 1px solid #fff;
  }
  .navbar {
    border-radius: 0 0 10px 10px;
  }
}

@media screen and (max-width: 576px) {
  .container-fluid {
    padding: 0rem 0.5rem !important;
  }
}

/* this is Navbar style end */

/* this is form style start */

.form-1 {
  padding: 1rem 10rem;
}
.input-form {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.input-label {
  width: 15rem;
}
.input-label {
  font-weight: bold;
}
.form-control {
  background-color: #b2afaf !important;
  outline: none !important;
  color: #fff !important;
  border: none !important;
}
::placeholder {
  color: #fff !important;
}
.textarea-style {
  font-weight: bold;
}
.text-area {
  font-weight: bold;
}
textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: #b2afaf !important;
  outline: none !important;
  color: #fff !important;
  border: none !important;
}

.button-form {
  padding: 0rem 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: -1rem;
}

.btn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff !important;
  padding: 0.5rem 1rem;
  background-color: #0f9c47;
  border: none;
  border-radius: 10px;
}

.circle-icon {
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.7rem;
  width: 100%;
  background-color: #0f9c47;
  color: #fff;
  margin-top: 2rem;
}

@media screen and (max-width: 1000px) {
  .form-1 {
    padding: 2rem 5rem;
  }
  .input-form {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .button-form {
    padding: 0rem 5rem;
  }
  .footer {
    border-radius: 10px 10px 0 0;
  }
}
@media screen and (max-width: 576px) {
  .form-1 {
    padding: 0.5rem 1rem;
  }
  .button-form {
    padding: 0rem 1rem;
  }
}

/* this is form style end */
